body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 209px 133px 209px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: -16px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    padding: 10px 34px;
    border: none;
    border-radius: 10px;
}

.navbar, ul {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    gap: 26px;
}

.hero {
    display: flex;
    align-items: center;
    margin-top: 72px;
    gap: 40px;
}

.hero-img {
    width: 522px;
    height: 237px;
    background: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.info-img {
    width: 168px;
    height: 168px;
    border: solid #3882F6 4px;
    border-radius: 15px;
    margin-bottom: 0;
}

.information {
    display: flex;
    justify-content: center;
    padding-left: 209px;
    padding-right: 209px;
    gap: 48px;
}

.information p {
    width: 168px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    margin-top: 10px;
    padding-bottom: 100px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding: 130px 340px 100px 340px;
}

.author {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    font-style: normal;
}

.call-to-action {
    background-color: #3882F6;
    width: 1024px;
    height: 150px;
    margin: auto;
    border-radius: 10px;
    color: #E5E7EB;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.call-to-action h2 {
    color: #F9FAF8;
    text-align: left;
    font-size: 24px;
    margin-bottom: 0;
}

.call-to-action p {
    margin-top: 0;
}

.call-to-action button {
    border: solid #F9FAF8 2px;
    color: #F9FAF8;
}